<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@foreach (Dictionary<string, string> job in @ViewBag.jobs)
{
    <table class="job-listing">
        @foreach (KeyValuePair<string, string> jobdata in job)
        {
            <tr>
                <td><b>@jobdata.Key</b></td>
                <td>@jobdata.Value</td>
            </tr>
        }
    </table>




}